<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="employee.name" > 
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" name="lastName" [(ngModel)]="employee.lastName">
      </div>
      <div class="form-group">
        <label for="number">Employee Number</label>
        <input class="form-control" type="text" name="number" [(ngModel)]="employee.number">
      </div>
      
      <div class="form-group">
         <button (click)="onAddEmployee()" class="btn btn-primary"> Add Employee </button>
      </div>
      
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList; let indx = index">
            <td> {{employee.employeeNumber}}</td>
            <td>{{employee.name}}</td>
            <td>{{ employee.lastName}} </td>
            <td><button class="btn btn-sm btn-danger" (click)="onDelete(indx)"> 
              <i class="fa fa-trash"></i>
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

