  <div class="row">

    <button class="btn btn-primary mb-4" 
      [routerLink]="['/employees/employee-detail']"> 
      Add Employee
    </button>
    
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td [routerLink]="['/employees/employee-detail', i ]">{{ employee.number}}</td>
            <td>{{ employee.name}}</td>
            <td>{{ employee.lastName}} </td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="confirm(i)"> 
              <i class="fa fa-trash"></i>
            </button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
    
  </p-confirmDialog>

